.App {
  text-align: center;
  font-family: 'Oswald', sans-serif;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


#main-blog-container {
  background: rgb(99, 126, 84);
  background: linear-gradient(0deg, rgba(99, 126, 84, 1) 0%, rgba(242, 232, 210, 1) 100%);
  border: darkslategrey dotted 2px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  width: 600px;
  height: fit-content;
  margin: auto;
  border-radius: 10px;
  text-align: center;
}

#blog-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 40px;
  margin: 20px;
}


#blog-entry {
  height: 200px;
  width: 200px;
  background-color: rgb(98, 100, 100) opacity .2;
  border-radius: 15px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

#blog-to-post {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

textarea {
  width: 240px;
  height: 150px;
  border-radius: 10px;
}

#post-blog-button {
  margin: 10px;
}

#single-blog-entry {
  width: 300px;
  height: fit-content;
  margin: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
  overflow-wrap: break-word;
  justify-content: center;
  background-color: rgb(59, 63, 63, .6);
  border-radius: 20px;
  border: darkslategrey dotted 2px;
  margin-bottom: 100px;

}

#entry-header {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  /* margin: 20px; */
  padding: 20px;
}

#user-image {
  height: 75px;
  width: 75px;
  border-radius: 50%;
  /* margin-top: 40px; */
}

#user-image-in-post {
  height: 65px;
  width: 65px;
  border-radius: 50%;
}

#user-in-entry {
  font-size: x-large;
  margin-left: 10px;
}

.sign-in-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: darkslategray dotted 2px;
  background: rgb(99, 126, 84);
  background: linear-gradient(0deg, rgba(99, 126, 84, 1) 0%, rgba(242, 232, 210, 1) 100%);
  width: 400px;
  height: 600px;
  margin: auto;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-size: x-large;
  border-radius: 15px;

}

#root {
  margin-top: 100px;
  font-family: 'Oswald', sans-serif;
}

button {
  border-radius: 20px;
}

/* #delete-button {
  width: 100px;
} */

input {
  border-radius: 20px;
  width: 200px;
  height: 30px;
}

#welcome-user {
  font-size: xx-large;
}